* {
    margin : 0
}

h1 {
    color:#ec1556;
    margin-left: 450px;
       
}
.container {
    background-color: hsl(343, 30%, 95%);
    min-height: 100vh;
}

.Coquette img{
    height:40px;
    margin-left: 10px;
    transform: rotate(10deg);
}
.ingredients,.Instructions,.ToFlex{
    display: flex;
    color:#ec1556;
    margin-left: 20px;
    margin-top: 20px;
    
}
.List1 li, .List2 li{
   margin-top: 10px;
}
.List2 {
    display: flex;
}
.cookie img{
    margin-left: 30px;
    transform: rotate(10deg);
    border-radius: 50%; 
    width: 300px;
    height: 250px;

}
.insta, .fb, .linkedin {
    height: 50px;
    margin-top: 2px ;
    margin-right : 10px ;    
}

.Follow {
    margin-top: 20px ;
    margin-left: 550px;
    color:#ec1556;
    margin-left: 550px ;
    }


